.login {
    height: 50vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center; 
    z-index: 1000;
  }
  .login__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #dcdcdc;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 50px;
    z-index: inherit; 

  }
  .login__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .login__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: black;
  }
  .login div {
    margin-top: 7px;
  }

  .logo_container {
    height: 25vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 35px;
    margin-bottom: 2em;
  }
  .logo-img {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 8em;
    object-fit: cover;
    height: 8em;
    z-index: 1;
  }


