.header-wrapper {
  display: flex;
  align-items: center;
  padding: 2em;
  position: sticky;
  justify-content: space-between;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 999;
}

.header-wrapper img {
  margin-left: -.3em;
}