.title-txt {
  font-family: "Courier New";
  font-size: 65px;
  padding-top: 250px;
  font-weight: bold;
  text-align: center;
  color: black;
}

.menuBack {

  float: left;
  padding: 10px;
  margin: 10px;

}

.menuFavorite {
  float: right;
  padding: 10px;
  margin: 10px;
}

.menuInfo {
  font-family: "Poppins";
  font-weight: bold;
  color: black;
  padding-top: 4%;
  margin-left: 5%;  
}

.menuTitle {
  font-size: 30px;
  margin-left: 25px;
}

.menuPrep {
  font-size: 20px;
  margin-left: 25px;
  margin-bottom: 0px;
}

.menuCook {
  font-size: 20px;
  margin-left: 25px;
  margin-bottom: 0px;
}

.menuGenerate {
  background-color: rgb(56, 187, 56) !important;
  color: whitesmoke !important;
  margin-top: .4em !important;
  padding-top: .4em !important;
  padding-bottom: .4em !important;
  font-size: 1.1rem !important;
  font-weight: 700 !important;
  letter-spacing: .1rem;
  text-transform: capitalize;


}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
